@model IEnumerable<BilgeAdam.Northwind.NetData.Dtos.ProductDto>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <a class="pull-right btn btn-success" href="/Product/NewProduct">
            <span class="glyphicon glyphicon-plus"></span>
            Yeni Ürün
        </a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table id="tblProducts" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ürün Kodu</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Stok Miktarı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.UnitsInStock</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Pages/productIndex.js"></script>
}