@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MetroLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information. Please try to contact to us</p>
